# Python
__pycache__/
*.pyc

# virtual environment
.venv/

# Mac
.DS_Store

# audio files
*.wav
*.m4a

# output directory
data/output/

# model files
*.bin
*.pt
*.pth
*.safetensors

# notebooks
.ipynb_checkpoints/

# environment variables
.env
